<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mindskip.xzs.video_room.repository.VideoMapper">
    <resultMap id="BaseResultMap" type="com.mindskip.xzs.video_room.bean.Video">
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="publisher" jdbcType="VARCHAR" property="publisher" />
        <result column="publish_time" jdbcType="VARCHAR" property="publishTime" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="introduction" jdbcType="TINYINT" property="introduction" />
        <result column="path" jdbcType="VARCHAR" property="path" />
        <result column="likes_num" jdbcType="INTEGER" property="likesNum" />
        <result column="views_num" jdbcType="INTEGER" property="viewsNum" />
        <result column="collections_num" jdbcType="INTEGER" property="collectionsNum" />
        <result column="tags" jdbcType="VARCHAR" property="tags" />
    </resultMap>
    <sql id="Base_Column_List">
    id, publisher, publish_time, title, introduction, `path`, `likes_num`,
    views_num, collections_num ,tags
  </sql>

    <insert id="post" parameterType="com.mindskip.xzs.video_room.bean.Video" keyProperty="id">
        insert into t_video
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="publisher != null">
                publisher,
            </if>
            <if test="publisherTime != null">
                publisher_time,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="introduction != null">
                `introduction`,
            </if>
            <if test="path != null">
                `path`,
            </if>
            <if test="likesNum != null">
                `likes_num`,
            </if>
            <if test="viewsNum != null">
                views_num,
            </if>
            <if test="collectionsNum != null">
                collections_num,
            </if>
            <if test="tags != null">
                tags,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="publisher != null">
                #{publisher,jdbcType=VARCHAR},
            </if>
            <if test="publisherTime != null">
                #{publisherTime,jdbcType=VARCHAR},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="introduction != null">
                #{introduction,jdbcType=TINYINT},
            </if>
            <if test="path != null">
                #{path,jdbcType=VARCHAR},
            </if>
            <if test="likesNum != null">
                #{likesNum,jdbcType=INTEGER},
            </if>
            <if test="viewsNum != null">
                #{viewsNum,jdbcType=INTEGER},
            </if>
            <if test="collectionsNum != null">
                #{collectionsNum,jdbcType=INTEGER},
            </if>
            <if test="tags != null">
                #{tags,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <select id="getVideoById" resultMap="BaseResultMap">
    select  * from t_video
    where id = #{videoId}
  </select>

    <update id="updateLikeNum">
        update t_video set likes_num = #{num} where id =#{videoId}
    </update>



</mapper>
